*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Reset Input and Search field styling */
input {
    all: unset;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

body{
    background-color: #222;
    color: white;
}

.content{
    padding: 30px;
}

.current-title, .hourly-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.current-container, .hourly-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.current-container > div, .hourly-container > div{
    background-color: #333;
    padding: 20px 30px;
    text-align: center;
    border-radius: 6px;
    display: grid;
    place-content: center;
    place-items: center;
}
.inactive{
    opacity: 50%;
    pointer-events: none;
    user-select: none;
}
.current-container>div{
    gap: 3px;
}
.hourly-container>div{
    /* padding-bottom: 10px;     */
    gap: 10px;
}
.hourly-time{
    font-size: 20px;
    font-weight: 600;
}
.hidden{
    display: none;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search-bar {
    position: relative;
}

.search-bar, .search-bar:focus{
    /* padding: 6px 10px; */
    height: 40px;
    padding: 0px 16px;
    border-radius: 50px;
    outline: 0px;
    border: 2px solid rgb(218, 123, 34);
    font-size: 14px;
    font-weight: 600;
    width: 400px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.search-bar:focus{
    border-color: rgb(248, 143, 45);
}

.search-button{
    height: 40px;
    min-width: 40px;
    border: 0px;
    outline: 0px;
    border-radius: 50px;
    background-color: rgb(218, 123, 34);
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.wind-direction-icon{
    width: 50px;
}

.search-button:hover{
    /* transform: scale(1.05); */
    background-color: rgb(231, 130, 35);
}

.search-icon{
    width: 20px;
}

.loading-gif{
    position: fixed;
    width: 80px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 10;
}

.error{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    font-size: 14px;
    font-style: italic;
    z-index: 100;
    color: rgb(231, 130, 35);
}