@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Reset Input and Search field styling */
input {
    all: unset;
    box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

body{
    background-color: #222;
    color: white;
    --color-primary: #26629A;
    --color-dark-1: #181B21;
    --color-dark-2: #222935;
    --color-text: #fff;
    --color-dark-3: #3E485E;
}

.content{
    min-height: 100vh;
    background-color: var(--color-dark-1);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 35px;

    /* justify-content: center; */
}

.inactive {
    opacity: 50%;
    pointer-events: none;
    user-select: none;
}

.hidden {
    display: none;
}

.loading-gif {
    position: fixed;
    width: 80px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 10;
}

.search-icon {
    width: 20px;
}

/* Header */
.header{
    display: flex;
    gap: 15px;
    /* margin: 0 auto; */
    justify-content: space-between;
    align-items: center;

    width: clamp(300px, 80%, 1200px);
    /* margin-bottom: 2rem; */
}


/* Location Button */
.location-btn{
    flex-shrink: 0;
    background-color: var(--color-primary);
    outline: 0;
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: grid;
    place-content: center;
}

/* Search */
.search-bar{
    position: relative;
    width: 400px;
    min-width: 220px;
}

.search-input{
    background-color: var(--color-dark-2);
    border-radius: 100px;
    height: 45px;
    width: 100%;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 10px;
}

::placeholder {
    color: var(--color-text);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--color-text);
}

::-ms-input-placeholder {
    color: var(--color-text);
}

.search-icon{
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.error{
    color: var(--color-primary);
    position: absolute;
    left: 50%;  
    transform: translateX(-50%);
    top: 55px;
    font-size: 14px;
}

.hidden{
    display: none;
}

/* Theme Toggle */
.theme-toggle{
    position: relative;
    display: inline-block;
}

.theme-toggle-circle{
    background-color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: grid;
    place-content: center;
    transition: all .2s ease-in-out;
    position: absolute;
    left: 0px;
    top: -5px;
}

.dark > * > .theme-icon{
    padding-left: 2px;
}

.theme-toggle.dark .theme-toggle-circle{
    transform: rotate(0deg);
    left: 40%;
}

.theme-toggle.light .theme-toggle-circle {
    transform: rotate(-180deg);
    left: 0px;
}

.theme-toggle-track{
    background-color: var(--color-dark-2);
    min-height: 30px;
    width: 65px;
    border-radius: 100px;
}

/* Units Section */
.units-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.units-container{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.unit-btn{
    outline: 0;
    border: 0;
    border-radius: 100px;
    width: 100px;
    background-color: var(--color-dark-2);
    color: white;
    height: 35px;
    font-size: 13px;
}

.unit-btn.active{
    background-color: var(--color-primary);
}

/* Current Section */
.current-container{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 12px;
    width: clamp(300px, 100%, 1400px);
}

.current-left, .current-right{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

/* Current card */
.current-card{
    display: grid;
    gap: 3px;
    background-color: var(--color-dark-2);
    place-content: center;
    place-items: center;
    padding: 22px 0px;
    min-width: 150px;
}

.current-card-icon{
    margin-bottom: 2px;
}

.current-card-value{
    font-size: 22px;
    font-weight: 700;
}

.current-card-label{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
}

.current-center{
    flex: 1;
    display: grid;
    place-items: center;
    place-content: center;
    min-width: 330px;
    background-color: var(--color-dark-2);
    text-align: center;
    padding: 20px 0px;
}

.current-center-main{
    display: grid;
    margin-top: -20px;
}

.current-center-icon{
    width: 90px;
    place-self: center;
    margin-bottom: -15px;
}

.current-center-body{
    font-weight: 600;
    display: grid;
}

.current-temp{
    font-size: 65px;
    margin-bottom: -10px;
}

.current-condition{
    font-size: 28px;
    margin-bottom: 3px;
}

.current-location{
    font-size: 14px;
    color: var(--color-primary)
}

.current-center-datetime{
    color: var(--color-dark-3);
    font-size: 13px;
    display:none;
}

/* Hourly Container */
.hourly-container{
    width: clamp(300px, 65%, 1920px);
    width: clamp(300px, 80%, 1200px);
    display: grid;
    gap: 16px;
}

.hourly-container-main{
    width: 100%;
}

.set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.set.active{
    display: flex;
}

.hourly-card{
    flex: 1;
    display: grid;
    gap: 10px;
    place-content: center;
    place-items: center;
    min-width: 80px;
    position: relative;
}

.hourly-card:not(:last-child)::after {
    content: '';
    right: 0px;
    position: absolute;
    height: 60%;
    top: 20px;
    border-right: 2px solid var(--color-dark-2);
}

.hourly-time{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
}

.hourly-temp{
    font-size: 22px;
    font-weight: 700;
}

.hourly-icon{

}


/* Hourly Carousal */
.hourly-container-carousal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousal-main{
    display: flex;
    gap: 12px;
    user-select: none;
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.dot{
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 100px;
}

.dot.active{
    background-color: var(--color-text);
}